.container{

 // background-image: src('C:\Pharmacy_project\Pharmacy\src\app\core\constants\pharmacy-management-system-by-asiqul-islam-1-2048.webp')
background-color: burlywood;
 display: grid;
  height: 300px;
  align-content: center;


}
