<!--
<div class="body">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              formControlName="username"
              placeholder="Enter username"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            we can add appHighlight  after for in label to highlight the name
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Password"
            />
          </div>

          <button type="submit" class="btn btn-primary" style="margin-top: 6px">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>

  <div style="text-align: center">
    <label for="username">{{ this.datenow | date : "short" }}</label>
  </div>
</div>
 -->





<div class="wrapper">
        <div class="logo">
            <img src="https://img.freepik.com/premium-vector/pharmacy-online-shop-concept-ui-web-homepage-hand-pharmacist-give-bag-with-medications-pills-bottle-spray-medical-bag-are-shown_163674-362.jpg?w=740" alt="">
        </div>
        <div class="text-center mt-4 name">
            BABA PHARMACY
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-3 mt-3">

            <div class="form-field d-flex align-items-center">

                <span class="far fa-user"></span>
                <input  type="text"
              class="form-control"
              id="username"
              formControlName="username"
              placeholder="Enter username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input  type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Password">
            </div>
            <button class="btn mt-3" type="submit" >Login</button>
        </form>
        <div class="text-center fs-6">
            <a href="#">Forget password?</a> or <a href="#">Sign up</a>
        </div>
    </div>

