<mat-toolbar class="toolcolor">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="openside()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span>{{ "tenant" | translate }}</span>

  <span class="example-spacer"></span>
  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon> -->
  <!-- </button> -->

  <!-- <span class='material-icons' style="color: rgb(15, 55, 255)"> </span> -->

  <button
    id="logout"
    (click)="logout()"
    type="button"
    class="btn btn-primary btn-sm"
    style="background-color: transparent; color: black"
  >
    {{ "LOGOUT" | translate }}
  </button>
  <div class="dropdown">
    <select
      id="select"
      class="btn btn-primary btn-sm"
      style="background-color: transparent; color: black"
      (change)="changeLang($event)"
    >
      \
      <option [selected]="Lang === 'en'" value="en">
        {{ "ENG" | translate }}
      </option>
      <option [selected]="Lang === 'ara'" value="ara">
        {{ "ARA" | translate }}
      </option>
    </select>
  </div>
</mat-toolbar>
