.example-spacer {
  flex: 1 1 auto;
}
.toolcolor {
  color: black;
  background-color: #7ee661;
}

#select {
  padding: 5.5px;
  margin-bottom: 1px;
  border-color: white;
}

#logout {
  border-color: white;
  margin-right: 5px;
}
